<a [routerLink]="'/add-hero'">Add new hero</a>
<br>
<ul>
  <span *ngIf="loading$ | async">Loading heroes...</span>
  <ng-container *ngIf="(loading$ | async) === false">
    <li *ngFor="let hero of heroes$ | async">
      <a [routerLink]="['/hero-detail', hero.id ]">{{hero.name}} ({{hero.id}})</a>
    </li>
  </ng-container>

</ul>

