<nav>
  <a [routerLink]="'/'">← Go to heroes list</a>
</nav>
<span *ngIf="loading$ | async">Loading hero...</span>
<ng-container *ngIf="(loading$ | async) === false">
  <h1>{{(hero$|async).name}}</h1>
  <span>ID: {{(hero$|async).id}}</span>
  <button (click)="deleteHero()">Remove this hero</button>
  <hr>
  <h3>Edit hero</h3>
  <form [formGroup]="editHeroForm" (ngSubmit)="onEditHeroSubmit()">
    <input type="text" formControlName="name">
    <button type="submit" [disabled]="!editHeroForm.valid">Edit hero</button>
  </form>

</ng-container>

