<nav>
  <a [routerLink]="'/'">← Go to heroes list</a>
</nav>
<h3>Add new hero</h3>
<form [formGroup]="newHeroForm" (ngSubmit)="onFormSubmit()">
  <input type="text" formControlName="name">
  <button type="submit" [disabled]="!newHeroForm.valid">Create hero</button>
</form>
